<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mp.mapper.CityMapper">
    <resultMap id="BaseResultMap" type="City">
        <id column="id" property="id"></id>
        <result column="name" property="name"/>
        <result column="CountryCode" property="countryCode"/>
        <result column="District" property="district"/>
        <result column="Population" property="population"/>
    </resultMap>

    <resultMap id="SimpleResultMap" type="CitySimpleDTO">
        <id column="id" property="id"></id>
        <result column="name" property="name"/>
    </resultMap>


    <sql id="Base_Column_List">
        id, name
    </sql>
    <!--根据用户名密码查询用户信息-->
    <!--application.yml 中通过 type-aliases-package 指定了实体类的为了，因此-->
    <select id="findSimple" resultType="CitySimpleDTO" resultMap="SimpleResultMap">
        select
            <include refid="Base_Column_List"/>
        from city
        where id=#{id,jdbcType=INTEGER}
    </select>
    <select id="selectByPageNumSize" resultType="com.mp.dto.CitySimpleDTO">
        select
        <include refid="Base_Column_List"/>
        from city
    </select>
</mapper>