<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.honyee.mapper.RoleMapper">
    <select id="findRoleKeyByUserIdIn" resultType="com.honyee.dto.UserRoleDTO">
        select t.user_id, r.role_key, r.role_name from user_role t
        inner join role r on r.id = t.role_id where t.user_id in
        <foreach item='item' collection='ids' open='(' separator=',' close=')'>#{item}</foreach>
    </select>
</mapper>