<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.honyee.app.mapper.PersonMapper">
    <!-- 使用mybatis-plus生成的resultMap 需要 @TableName(value = "person", autoResultMap = true)  -->
    <select id="findAll" resultMap="com.honyee.app.mapper.PersonMapper.mybatis-plus_Person">
        select * from person
    </select>

    <select id="findLike" resultType="com.honyee.app.model.test.Person">
        <bind name="nameLike" value="'%' + name + '%'"/>
        select * from person where nickname like #{nameLike}
    </select>

</mapper>